<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cym.ssm.mapper.ClientMapper" >
  <resultMap id="BaseResultMap" type="cym.ssm.po.Client" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="client_name" property="clientName" jdbcType="VARCHAR" />
    <result column="client_address" property="clientAddress" jdbcType="VARCHAR" />
    <result column="client_tel" property="clientTel" jdbcType="VARCHAR" />
    <result column="client_sex" property="clientSex" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, client_name, client_address, client_tel, client_sex
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cym.ssm.po.ClientExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from client
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from client
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from client
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cym.ssm.po.ClientExample" >
    delete from client
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cym.ssm.po.Client" >
    insert into client (id, client_name, client_address, 
      client_tel, client_sex)
    values (#{id,jdbcType=INTEGER}, #{clientName,jdbcType=VARCHAR}, #{clientAddress,jdbcType=VARCHAR}, 
      #{clientTel,jdbcType=VARCHAR}, #{clientSex,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cym.ssm.po.Client" >
    insert into client
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="clientName != null" >
        client_name,
      </if>
      <if test="clientAddress != null" >
        client_address,
      </if>
      <if test="clientTel != null" >
        client_tel,
      </if>
      <if test="clientSex != null" >
        client_sex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="clientName != null" >
        #{clientName,jdbcType=VARCHAR},
      </if>
      <if test="clientAddress != null" >
        #{clientAddress,jdbcType=VARCHAR},
      </if>
      <if test="clientTel != null" >
        #{clientTel,jdbcType=VARCHAR},
      </if>
      <if test="clientSex != null" >
        #{clientSex,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cym.ssm.po.ClientExample" resultType="java.lang.Integer" >
    select count(*) from client
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update client
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.clientName != null" >
        client_name = #{record.clientName,jdbcType=VARCHAR},
      </if>
      <if test="record.clientAddress != null" >
        client_address = #{record.clientAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.clientTel != null" >
        client_tel = #{record.clientTel,jdbcType=VARCHAR},
      </if>
      <if test="record.clientSex != null" >
        client_sex = #{record.clientSex,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update client
    set id = #{record.id,jdbcType=INTEGER},
      client_name = #{record.clientName,jdbcType=VARCHAR},
      client_address = #{record.clientAddress,jdbcType=VARCHAR},
      client_tel = #{record.clientTel,jdbcType=VARCHAR},
      client_sex = #{record.clientSex,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cym.ssm.po.Client" >
    update client
    <set >
      <if test="clientName != null" >
        client_name = #{clientName,jdbcType=VARCHAR},
      </if>
      <if test="clientAddress != null" >
        client_address = #{clientAddress,jdbcType=VARCHAR},
      </if>
      <if test="clientTel != null" >
        client_tel = #{clientTel,jdbcType=VARCHAR},
      </if>
      <if test="clientSex != null" >
        client_sex = #{clientSex,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cym.ssm.po.Client" >
    update client
    set client_name = #{clientName,jdbcType=VARCHAR},
      client_address = #{clientAddress,jdbcType=VARCHAR},
      client_tel = #{clientTel,jdbcType=VARCHAR},
      client_sex = #{clientSex,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>